<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update product</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Product Management System</h1>
        <hr>
        <h2>Save Product</h2>
        <form action="#" th:action="@{/v1/product/save}" th:object="${new_product}" method="post">
            <input type="text" class="form-control mb-4 col-4"  th:field="*{Name}" placeholder="Product Name">
            <input type="text" class="form-control mb-4 col-4"  th:field="*{hanSp}" placeholder=" Han Su Dung">
            <input type="text" class="form-control mb-4 col-4"  th:field="*{soLuong}" placeholder=" So Luong">
            <button type="submit" class="btn btn-info col-2">Save Product</button>
        </form>
        
        <hr>
 
        <a th:href="@{/v1/product/}"> Back to Employee List</a>
    </div>
</body>
</html>